# top level crap
/aclocal.m4
/autom4te.cache
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/ylwrap

/confdefs.h
/config.log
/config.status
/libtool

# special case
/lib/ftconfig.h.in*
/lib/ftconfig.h
/lib/ftpaths.h
/src/ftbuild.h

# common patterns

Makefile.in
Makefile
.deps
stamp-h1
