# top level crap
/aclocal.m4
/autom4te.cache
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/ylwrap

/confdefs.h
/config.log
/config.status
/libtool

# special case
/lib/ftconfig.h.in*
/lib/ftconfig.h
/lib/ftpaths.h
/src/ftbuild.h

# common patterns

Makefile.in
Makefile
.deps
.libs
*.lo
*.o
stamp-h1

# Generated changelog
ChangeLog

# generated docs

/docs/flow-capture.1
/docs/flow-capture.html
/docs/flow-fanout.1
/docs/flow-fanout.html
/docs/flow-log2rrd.1
/docs/flow-log2rrd.html
/docs/flow-mask.1
/docs/flow-mask.html
/docs/flow-nfilter.1
/docs/flow-nfilter.html
/docs/flow-print.1
/docs/flow-print.html
/docs/flow-receive.1
/docs/flow-receive.html
/docs/flow-report.1
/docs/flow-report.html
/docs/flow-rpt2rrd.1
/docs/flow-rpt2rrd.html
/docs/flow-rptfmt.1
/docs/flow-rptfmt.html
/docs/flow-tag.1
/docs/flow-tag.html
/docs/flow-xlate.1
/docs/flow-xlate.html

# dist-bz2

/flow-tools-*.tar.bz2

/lib/getdate.c
/lib/libft.la
/m4/libtool.m4

# binaries

/src/flow-capture
/src/flow-cat
/src/flow-dscan
/src/flow-expire
/src/flow-export
/src/flow-fanout
/src/flow-filter
/src/flow-gen
/src/flow-header
/src/flow-import
/src/flow-mask
/src/flow-merge
/src/flow-nfilter
/src/flow-print
/src/flow-receive
/src/flow-report
/src/flow-send
/src/flow-split
/src/flow-stat
/src/flow-tag
/src/flow-xlate
